.body{
    border: 0;
    padding: 0;
    margin: 0;
    background-color: royalblue;
}

.divInicio{
    width: 99vw;
    height: 97vh;
    background-color: royalblue;
    display: flex;
    position: relative;
    background-image: url(../../assets/img/allpokemon13.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
}

.elaborado {
    display: bloc;
    width: 20%;
    height: 25%;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #f7f709 ;
    background-size: cover;
    border-radius: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 0.5rem;
    color: #181515;
    object-fit: cover;
    opacity: 0.9;
    border: 2em solid royalblue;
    filter: brightness(1);
}

.pokeLetras {
    display: flex;
    position: absolute;
    bottom: 80px;
    right: 400px;
    border-radius: 5%;
    width: auto;
    height: auto;
    max-width:40%;
    max-height: 30%;
}

.pokeLetras:hover {
    opacity: 0.8;
    max-width: 30%;
    max-height: 20%;
    bottom: 120px;
    right: 500px;
}

.ocultar{
    display: none;
}