.navbarDiv {
    display: flex;
    background-color: #4169e133;
    color: white;
    justify-content:space-between;
    align-items: center;
    border-radius: 5px;
    border: 2px solid yellow;
}

.navbarSpan {
    display: flex;
    width: 100%;
    align-items: center;
    color: yellow;
    font-size: 1.2rem;
    font-weight: bold;
}

.linkDiv, .linkNewPokemon {
    text-decoration: none;
}

.linkNewPokemon {
    color: blue;
    font-size: 1.2rem;
    font-weight: bold;
}

.linkNewPokemon:hover {
    color: yellow;
    text-shadow: 2px 2px blue;
}